<footer class="bg-dark text-light py-4">
    <div class="container">
      <div class="row">
        <!-- About Section -->
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>
            DesiWear, established in 2018, is a leading player in the Pakistani traditional clothing retail
            sector.
          </p>
        </div>
  
        <!-- Quick Links -->
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
          <div class="social-menu">
            <ul class="list-unstyled">
                  <li><a href="https://www.facebook.com/share/18ie8LojNV/" target="blank"><i class="fab fa-facebook"></i></a></li>
                  <li><a href="https://www.instagram.com/deliwear_?igsh=ZWE4YTN1OTdidmZr" target="blank"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="https://x.com/deliwear?s=08" target="blank"><i class="fab fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
  
        <!-- Contact Information -->
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p><i class="bi bi-geo-alt"></i> 123 Deli Karachi, Pakistan</p>
          <p><i class="bi bi-telephone"></i> +1 234 567 890</p>
          <p><i class="bi bi-envelope"></i> sales&#64;deliwear.com</p>
        </div>
      </div>
  
      <!-- Footer Bottom -->
      <div class="text-center mt-3">
        <p class="mb-0">&copy; 2018 DesiWear. All Rights Reserved.</p>
      </div>
    </div>
    
  </footer>
  